.media{
  //background-color: green;
  height: 110px;
  .media-left{
    //width: 80px;
    height: 100%;
    //background-color: blue;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
  }
  .media-body{
    border: 1px solid #000;
    height: 100%;
    .title{
      font-size: 22px;
      font-weight: bolder;
    }
    textarea{
      //width: 100px;
      width: 95%;
      height: 3.5rem;
      padding: 0.3rem;
      //border-radius: 1rem;
    }
    .content{
      width: 80%;
      text-overflow: ellipsis;
    }
  }
  .media-right{
    //width: 80px;
    height: 100%;
    background-color: cyan;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
    border: 1px dotted darkcyan;
  }
}